In [2]:
# Printing hist_data table to check if working
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("hist_data",con)
print(df)

      hist_data_id item_code  emp_id  sale_year  sale_week  quantity
0                1  PROD_001  EMP244       2020          0        42
1                2  PROD_001  EMP244       2020          1        48
2                3  PROD_001  EMP244       2020          2        38
3                4  PROD_001  EMP244       2020          3        43
4                5  PROD_001  EMP244       2020          4        35
...            ...       ...     ...        ...        ...       ...
8319          8320   ESP_008  EMP290       2020         51         0
8320          8321  PROD_002  EMP267       2020         24        25
8321          8322  PROD_002  EMP267       2020         24        14
8322          8323  PROD_005  EMP244       2020         35        20
8323          8324  PROD_005  EMP256       2020         10        10

[8324 rows x 6 columns]

In [6]:
# Getting the number of rows and columns from hist_data table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("hist_data",con)
print(df.shape)

(8324, 6)

In [8]:
#finding the data types of each column in hist_data table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("hist_data",con)
print(df.dtypes)

hist_data_id     int64
item_code       object
emp_id          object
sale_year        int64
sale_week        int64
quantity         int64
dtype: object

In [12]:
# printing the product table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("product",con)
print(df)

  prod_code                   prod_name manufacturer  price_19Q1  price_20Q1
0  PROD_001              Gator XUV 590M   John Deere       12449       12499
1  PROD_002                       CUV82          Cat       14786       14998
2  PROD_003   1025R Sub-Compact Tractor   John Deere       14999       15066
3  PROD_004  CT1021 Sub-Compact Tractor       Bobcat       11385       11527
4  PROD_005                   UV34 Gas        Bobcat       13995       14225
5  PROD_006      ZT2000 Zero Turn Mower       Bobcat        4575        4649
6  PROD_007       S70 Skid Steer Loader       Bobcat       22987       23120
7  PROD_008                Z930M Ztrack   John Deere       11589       11689

In [16]:
# finding the data types of the product table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("product",con)
print(df.dtypes)

prod_code       object
prod_name       object
manufacturer    object
price_19Q1       int64
price_20Q1       int64
dtype: object

In [18]:
# Printing the date_dim table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("date_dim",con)
print(df)

    sale_week_date  sale_week  sale_period  sale_year  sale_quarter
0       2018-12-30          0            1       2019             1
1       2019-01-06          1            1       2019             1
2       2019-01-13          2            1       2019             1
3       2019-01-20          3            1       2019             1
4       2019-01-27          4            2       2019             1
..             ...        ...          ...        ...           ...
99      2020-11-22         47           12       2020             4
100     2020-11-29         48           13       2020             4
101     2020-12-06         49           13       2020             4
102     2020-12-13         50           13       2020             4
103     2020-12-20         51           13       2020             4

[104 rows x 5 columns]

In [20]:
# Getting the data types of each colum in date_dim table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("date_dim",con)
print(df.dtypes)

sale_week_date    datetime64[ns]
sale_week                  int64
sale_period                int64
sale_year                  int64
sale_quarter               int64
dtype: object

In [21]:
#Getting the total number of elements in the date_dim table
import pandas as pd
import sqlalchemy as sq 
con=sq.create_engine("mysql+pymysql://root:1957Chevy22@localhost/tractor")
df=pd.read_sql("date_dim",con)
print(df.size)

520